.jumbotron {
	text-align: center;
	color: white;
}

.jumbotron h1 {
	padding-top: 50px;
	font-size: 72px;
	font-weight: 700;
}

.jumbotron p a {
	color: yellow;
}

section {
	padding: 0 0 80px 0;
}

section.bg-blue {
	color: #fff;
	background-color: #337ab7;	
}

section h1 {
	padding-top: 80px;
	font-size: 48px;
	font-weight: 700;
}

section .large-icon {
	font-size: 72px;
}